
/* Settings for Tablet max 768px  */

@media screen and (max-width : 768px) {
    

body{

width: 100vw;



}


main{

width: 100%;

}

header{

width: 100%;

}


.container{

width: 95%;

}

.row{

padding: 0;
justify-content: space-between;

}

h2{

width: 100%;

}

h1{

width: 100%;
text-align: center;

}


}



/* Settings for Mobile  */


@media screen and (max-width: 480px) {


.row{

flex-direction: column;
align-items: center;

}



.col{


width: 100%;

}


.card{


width: 100%;
margin-bottom: 50px;

}


.lessons .col{

width: 100%;

}

.steps{

margin: 0;

}

.steps .col{

width: 100%;

}

.why-us .col-left{

width: 100%;

}

.why-us .col-right{

width: 100%;


}

.why-us h2{

width: 90%;
padding-left: 3rem;

}

.why-us h3{

margin-top: 50px;

}


.why-us{

background-color: black;
margin: 0;
padding-top: 3rem;
}


    
}


/* BONUS SETTING da 1160px a 768px */


@media screen and (max-width:1160px) {

    body{

        width: 100vw;
        overflow-x: hidden;
        
        
        }
        
        
        main{
        
        width: 100%;
        
        }
        
        header{
        
        width: 100%;
        
        }
        
        
        .container{
        
        width: 95%;
        
        }



    
}